* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.active {
  opacity: 1;
}

.container {
  width: 600px;
  height: auto;
  overflow: hidden;
  position: relative;
}

.container-btn {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  button {
    cursor: pointer;
    border: none;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;

    &:hover {
      background-color: #555;
    }
  }
}

.carrousel {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

img {
  max-width: 600px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
